<div class="container">
  <h3>ORM 실습 <%= link_to "LIST", list_path %> <%= link_to "LIKE", like_path %></h3>
  <div class="question">
    <p class="title">ID : "6" (find) </p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">ID : "10" (find_by) </p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">ID : "17" (where) </p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title"> First </p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title"> Last </p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title"> Male </p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title"> Female </p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">" n = 3 "</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">" n = 3 : rev "</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">AGE : "20 이상"</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">AGE : "20~30"</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">AGE : "20~30"</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">Name : "..."</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">Name : "A" 포함</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">특정 Attribute만...</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
  <div class="question">
    <p class="title">진짜 "좋아요"</p>
    <p class="answer">
      <!-- Code -->
      <!-- Code end -->
    </p>
  </div>
</div>
