<div class="container">
  <div id="serah-bar">
    <%= render partial: "search_bar" %>
  </div>
  <div id="list">
    <%= render partial: "list", locals: {users: @users}%>
  </div>
  <div id="footer">
    <%= render partial: "footer" %>
  </div>
</div>

